
    <div class="btn-group">
       
        <select>
            @foreach (var command in commands)
            {

            <option value="volvo">@command</option>
            }

          
        </select>
    </div>

  
@code {

    private List<string> commands;

    
    protected override void OnInitialized()
    {
        commands = new List<string>();
         for (int i = 1; i < 5; i++)
         {
            commands.Add("Command-" + i);
         }

    }

    List<string> GetCommands()
    {
        var h = new List<string>();
        return h;
    }

}
