
<div>
    <svg height="100" width="100">
        <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="@_lightStatus" />
    </svg>
</div>

<button>START</button>

@code {

    private string _lightStatus;



    [Parameter]
    public int CommandIndex { get; set; }

    protected override void OnInitialized()
    {
        StartCommand();

    }

    private void StartCommand()
    {
       // while(true)
      //  {
              _lightStatus = "black";

        System.Threading.Thread.Sleep(1000);

         _lightStatus = "blue";
             System.Threading.Thread.Sleep(1000);

      //  }

      

    }

}
